<html>
    <head>
        <title>
            <%= title%>
        </title>
        <style>
            body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>
            Sign In..
        </h1>

        <form action="/user/create-session" method="post">
            <input type="email" name="email" placeholder="Enter Email" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" value="Sign In">
        </form>
        <br>
        <a href="/">Sign Up</a>
    </body>
</html>